<footer class="footer__academy">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__wrapper--logo">
                <div class="footer__wrapper--left">
                    <a class="active" href="https://ekino.vn">
                        <img src="./src/images/ekino.png" alt="logo ekino">
                    </a>
                </div>
                <div class="footer__wrapper--right">
                    <a href="">
                            <img src="./src/images/logoAcademyFooter.png" alt="logo ekino footer">
                    </a>
                </div>
            </div>
            <div class="footer__contact">
                <span></span><a href="" class="mail-to">academy@ekino.vn</a>
            </div>
        </div>
    </div>
</footer>