<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" SameSite=None; Secure>
    <meta name="google-signin-client_id" content="604360837592-11g35ivc24m9prl0cf0vs8bn3sonprsp.apps.googleusercontent.com">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Auto Punctuality Check</title>
    <link rel="stylesheet" type="text/css" href="./src/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="./src/css/app.css">
    <link rel="icon" type="image/png" href="./src/images/icons/favicon.ico"/>
    <link rel="prerender" href="Set-Cookie: CookieName=CookieValue; SameSite=Lax;"/>
</head>