<ul class="nav nav-tabs">
    <li class="active daily p-t-20 p-r-25 p-b-20"><a  href="#daily" data-toggle="tab" class="nav-title nav-title-background">DAILY</a></li>
    <li class="range p-t-20 p-r-25 p-b-20"><a href="#range" data-toggle="tab" class="nav-title nav-title-background">RANGE</a></li>
    <li class="employees p-t-20 p-r-25 p-b-20"><a href="#employees" data-toggle="tab" class="nav-title nav-title-background">EMPLOYEES</a></li>
</ul>
<div id="loading" class="loading">
    <div class="loading__content">
      <i></i>
    </div>
</div>