<script src="./node_modules/jquery/dist/jquery.min.js"></script>
<script src="./src/vendor/jquery/jquery.min.js"></script>
<script src="./src/vendor/jquery/bootstrap.min.js"></script>

<script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./node_modules/twbs-pagination/jquery.twbsPagination.js"></script>
<script src="./node_modules/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

<script src="./node_modules/moment/min/moment.min.js"></script>

<script src="./src/vendor/jquery/daterangepicker.js"></script>
<script src="./src/vendor/jquery/platform.js"></script>
<script src="./src/vendor/jquery/client_platform.js"></script>
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
<script src="./src/public/js/main.js"></script>

